name: TravelOK Scraper

on:
  workflow_dispatch: # This creates the "Run workflow" button

jobs:
  scrape_job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests pandas

      - name: Run Scraper
        run: python scraper.py
